USE [master]
GO
/****** Object:  Database [QARAYEV]    Script Date: 12.05.2019 22:36:30 ******/
CREATE DATABASE [QARAYEV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QARAYEV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\QARAYEV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QARAYEV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\QARAYEV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QARAYEV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QARAYEV]
GO
/****** Object:  Table [dbo].[BRANDS]    Script Date: 12.05.2019 22:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANDS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CategoryId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 12.05.2019 22:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__CATEGORI__3214EC07BA8CF46F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 12.05.2019 22:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductCount] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 12.05.2019 22:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[BrandId] [int] NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[BARCODE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STOCKS]    Script Date: 12.05.2019 22:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCKS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 12.05.2019 22:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__USERS__3214EC07A57700B4] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BRANDS] ON 

INSERT [dbo].[BRANDS] ([Id], [Name], [CategoryId]) VALUES (1, N'Apple', 2)
INSERT [dbo].[BRANDS] ([Id], [Name], [CategoryId]) VALUES (2, N'Acer', 1)
INSERT [dbo].[BRANDS] ([Id], [Name], [CategoryId]) VALUES (3, N'Dell', 2)
SET IDENTITY_INSERT [dbo].[BRANDS] OFF
SET IDENTITY_INSERT [dbo].[CATEGORIES] ON 

INSERT [dbo].[CATEGORIES] ([Id], [Name]) VALUES (1, N'STOLUSTU')
INSERT [dbo].[CATEGORIES] ([Id], [Name]) VALUES (2, N'NOTEBOOK')
INSERT [dbo].[CATEGORIES] ([Id], [Name]) VALUES (3, N'NETBOOK')
SET IDENTITY_INSERT [dbo].[CATEGORIES] OFF
SET IDENTITY_INSERT [dbo].[ORDERS] ON 

INSERT [dbo].[ORDERS] ([Id], [UserId], [ProductId], [ProductCount], [OrderDate]) VALUES (4, 4, 5, 20, CAST(N'2018-11-11' AS Date))
INSERT [dbo].[ORDERS] ([Id], [UserId], [ProductId], [ProductCount], [OrderDate]) VALUES (5, 4, 3, 20, CAST(N'2018-11-21' AS Date))
INSERT [dbo].[ORDERS] ([Id], [UserId], [ProductId], [ProductCount], [OrderDate]) VALUES (6, 2, 4, 20, CAST(N'2018-11-13' AS Date))
SET IDENTITY_INSERT [dbo].[ORDERS] OFF
SET IDENTITY_INSERT [dbo].[PRODUCTS] ON 

INSERT [dbo].[PRODUCTS] ([Id], [Name], [Price], [CategoryId], [BrandId], [Color], [BARCODE]) VALUES (1, N'E22', 1000, 2, 4, N'RED', 1234)
INSERT [dbo].[PRODUCTS] ([Id], [Name], [Price], [CategoryId], [BrandId], [Color], [BARCODE]) VALUES (2, N'E23', 1300, 1, 4, N'BLACK', 3434)
INSERT [dbo].[PRODUCTS] ([Id], [Name], [Price], [CategoryId], [BrandId], [Color], [BARCODE]) VALUES (3, N'E24', 2000, 3, 3, N'BLUE', 4721)
SET IDENTITY_INSERT [dbo].[PRODUCTS] OFF
SET IDENTITY_INSERT [dbo].[STOCKS] ON 

INSERT [dbo].[STOCKS] ([Id], [ProductId], [Count]) VALUES (1, 4, 30)
INSERT [dbo].[STOCKS] ([Id], [ProductId], [Count]) VALUES (2, 2, 20)
INSERT [dbo].[STOCKS] ([Id], [ProductId], [Count]) VALUES (3, 3, 50)
SET IDENTITY_INSERT [dbo].[STOCKS] OFF
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([Id], [Name], [Surname], [Username], [Email], [Password]) VALUES (1, N'Qesem', N'Qarayev', N'QESEM1999', N'povil99@mail.ru', N'necesen123')
INSERT [dbo].[USERS] ([Id], [Name], [Surname], [Username], [Email], [Password]) VALUES (2, N'Ruslan', N'Eyvazli', N'RUSLAN1999', N'ruslan@mail.ru', N'ruslan123')
INSERT [dbo].[USERS] ([Id], [Name], [Surname], [Username], [Email], [Password]) VALUES (3, N'Neriman', N'Quluzade', N'NERIMAN1999', N'neri99@mail.ru', N'neri123')
SET IDENTITY_INSERT [dbo].[USERS] OFF
/****** Object:  Index [UQ__PRODUCTS__ABAF82C39F489AAE]    Script Date: 12.05.2019 22:36:32 ******/
ALTER TABLE [dbo].[PRODUCTS] ADD UNIQUE NONCLUSTERED 
(
	[BARCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__536C85E480EB67B1]    Script Date: 12.05.2019 22:36:32 ******/
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [UQ__USERS__536C85E480EB67B1] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BRANDS]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[CATEGORIES] ([Id])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[PRODUCTS] ([Id])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[USERS] ([Id])
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD FOREIGN KEY([BrandId])
REFERENCES [dbo].[BRANDS] ([Id])
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[CATEGORIES] ([Id])
GO
ALTER TABLE [dbo].[STOCKS]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[PRODUCTS] ([Id])
GO
USE [master]
GO
